.Upload-MainGrid {
    display: flex;
    flex-wrap: wrap;

    border: 1px solid var(--border);
    background: var(--background);

    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%;
}

.upload {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.upload_rightcomponent {
    border: 1px solid var(--border);
    width: 350px;
    padding-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    background-color: var(--background);
    justify-content: center;
}

.upload_rightcomponent .logo {
    width: 250px;
    margin-top: 25px;
    object-fit: cover;
}


.text {
    color: var(--secondary);
    font-size: 16px;
    font-weight: bold;

}

.logipage__text{
    width:258px;
    height: 36px;
    margin:5px;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    padding-left: 10px;
    border-radius: 5px;
}
.login__button{
    width:270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    border:1px solid var(--quartary);
    background-color: var(--quartary);
    color: white;
}

.uploading {
    color: var(--secondary);
    font-size: 12px;
    margin: 15px;
}
