.LogOut-MainGrid {
    display: grid;

    grid-template-areas: "firstColumn secondColumn";
    grid-template-columns: 50% 50%;

    grid-gap: 35px;

    background: var(--background);

    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%;
}

.form-box {
    background: var(--background);
}

.logOut {
    display: flex;
    justify-content: left;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}

.logOut_rightcomponent {
    border: 1px solid var(--border);
    width: 350px;
    padding-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    background-color: white;
}

.logOut_rightcomponent .logo {
    width: 175px;
    margin-top: 25px;
    object-fit: cover;
}

.login__button{
    width:270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    border:1px solid #0395F6;
    background-color:  var(--quartary);
    color: white;
    cursor: pointer;
}