
@media (max-width: 799px) {
    .LogIn-MainGrid {
        display: grid;
        grid-template-areas: 
        "secondColumn"
        "firstColumn";
            
        grid-template-columns: 100% 100%;

        height: auto;
    }

    .phone-box {
        display: flex;
        justify-content:center;
    }
       
    .loginPage {
        display: flex;
        justify-content: center;
      
    }
}
