.LogIn-MainGrid {
    display: grid;

    grid-template-areas: "firstColumn secondColumn";
    grid-template-columns: 50% 50%;

    grid-gap: 35px;

    background: var(--background);

    position: fixed;
    top: 0;
    
    width: 100%;
    height: 100%;
}

.form-box {
    background: var(--background);
}

.phone-box {
    display: flex;
    justify-content:right;
}

.phone-box img {
    width: 65%;
    margin: 20px;
    object-fit: cover;

}

.loginPage {
    display: flex;
    justify-content: left;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}

.loginPage_rightcomponent {
    border: 1px solid var(--border);
    width: 350px;
    padding-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    background-color: white;
}

.loginPage_rightcomponent .logo {
    width: 175px;
    margin-top: 25px;
    object-fit: cover;
}

.loginPage__signupoption {
    border: 1px solid var(--border);
    padding: 20px;
    margin: 10px;
}

.loginPage__signupoption span{
    cursor: pointer;
    font-weight: bold;
    color:  var(--quartary);
}

.loginPage__text{
    width:258px;
    height: 36px;
    margin:5px;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    padding-left: 10px;
    border-radius: 5px;
}

.login__button{
    width:270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    border:1px solid #0395F6;
    background-color:  var(--quartary);
    color: white;
    cursor: pointer;
}

.login_forgot {
    color: rgba(var(--fe0,0,55,107),1);
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
    cursor: pointer;
}

.loginpage__signupoption {
    margin-top: 25px;
    height:56px;
    width: 350px;
    background-color: white;
    border: 1px solid #DBDBDB;
    text-align: center;
    cursor: pointer;
}